<template>
    <div>
        <Outline/>
    </div>
</template>

<script>
import Outline from "../components/Outline.vue";
export default {
    components: {
        Outline
    }
};
</script>

<style>
</style>
