<template>
    <div>
        <h1 class="home-title">Welcome To Releeech</h1>
        <YellowButton title="About Us" />
        <p class="home-des">Do you offten fear of giving speech in public?
            <span class="orange">Releeech</span> is a website which could help you release your public speech anxiety.</p>
        <div class="columns">
            <div class="column">
                <ul class="home-list">
                    <li class="home-list-item">
                        <div>
                            <span>Approachable</span>
                            <div class="home-list-bottom"></div>
                        </div>
                    </li>
                    <li class="home-list-item">
                        <div>
                            <span>Personalized</span>
                            <div class="home-list-bottom"></div>
                        </div>
                    </li>
                    <li class="home-list-item">
                        <div>
                            <span>Comprehensive</span>
                            <div class="home-list-bottom"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="column">
                <div class="home-mic">
                    <img src="../assets/mic.jpg" alt="" @click="clickMic">
                    <span>Click the Microphone</span>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    methods:{
        clickMic(){
            this.$router.push('/create');
        }
    }
};
</script>

<style>
.orange {
    color: #f69429;
    font-weight: 600;
}
.home-title {
    font-size: 60px;
    font-weight: 600;
    color: #f69429;
    margin-top: 40px;
    margin-bottom: 20px;
}
.home-des {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    max-width: 360px;
    text-align: justify;
    color: #000;
    font-weight: 400;
}
.home-list-item {
    display: inline;
}
.home-list-item:nth-child(2) {
    position: relative;
    right: -20px;
    bottom: -80px;
}
.home-list-item:nth-child(3) {
    position: relative;
    right: -40px;
    bottom: -160px;
}
.home-list-item > div {
    position: relative;
    display: inline;
    margin-right: 20px;
    font-size: 24px;
    color: #f69429;
}
.home-list-bottom {
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 4px;
    background-color: #fbc653;
    border-radius: 2px;
    width: 100%;
    display: inline-block;
}
.home-mic {
    text-align: center;
}
.home-mic img {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: 0.2s all;
}
.home-mic img:hover {
    box-shadow: 0px 4px 20px rgba(246, 148, 41, 1);
    transition: 0.2s all;
}
.home-mic span {
    margin-top: 10px;
    display: block;
    color: #888;
}
</style>

