<template>
    <div class="about">
        <div class="background">
            <div class="columns back">
                <div class="column left-back">
                    <div class="back-graph"></div>
                    <button @click="doLogin">LOG IN</button>
                </div>
                <div class="column right-back">
                    <div class="back-graph"></div>
                    <button @click="doSignUp">SIGN UP</button>
                </div>
            </div>
            <MyCard class="form" v-bind:class="{'to-right':isSignUp,'to-left':!isSignUp}">
                <div class="top-color"></div>
                <div class="form-container">
                    <h1 class="form-title">{{cardTitle}}</h1>
                    <b-field label="Username" v-if="isSignUp">
                        <b-input></b-input>
                    </b-field>
                    <div v-if="!isSignUp" style="height:20px"></div>
                    <b-field label="Email">
                        <b-input></b-input>
                    </b-field>
                    <div v-if="!isSignUp" style="height:20px"></div>
                    <b-field label="Password">
                        <b-input type="password"></b-input>
                    </b-field>
                    <b-field label="Confirm Password" v-if="isSignUp">
                        <b-input type="password"></b-input>
                    </b-field>
                    <div class="field" v-if="!isSignUp">
                        <b-checkbox>Remember Me</b-checkbox>
                    </div>
                    <div v-if="!isSignUp" style="height:20px"></div>
                    <div class="btn-grp">
                        <YellowButton v-if="!isSignUp" @click="submitLogin" title="LOG IN"></YellowButton>
                        <YellowButton v-if="isSignUp" @click="submitSignup" title="SIGN UP"></YellowButton>
                    </div>
                </div>
            </MyCard>

        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            isSignUp: false,
            cardTitle: "SIGN UP"
        };
    },
    methods: {
        submitLogin() {},
        doLogin() {
            this.cardTitle = "LOG IN";
            this.isSignUp = false;
        },
        submitSignup() {},
        doSignUp() {
            this.cardTitle = "SIGN UP";
            this.isSignUp = true;
        }
    }
};
</script>
<style scoped>
.about {
    padding-top: 100px;
}
.to-signup {
    right: 0px;
}
.back {
    position: absolute;
    width: 1000px;
    height: 420px;
    text-align: center;
    /* height: 400px; */
}
.back-graph {
    height: 240px;
    border: 2px solid #fff;
}
.back > .column {
    padding: 50px 80px;
}
.back button {
    border-radius: 4px;
    margin: 20px auto;
    border: 2px solid #fff;
    height: 50px;
    width: 200px;
    background: #ffb400;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
}
.background {
    height: 400px;
    width: 1000px;
    margin: 0 auto;
    background: #ffb400;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.form {
    height: 500px;
    width: 500px;
    position: relative;
    top: -50px;
    right: -50px;
}
.form-container {
    padding: 20px 20px;
}
.form-title {
    color: #ffb400;
    text-align: left;
    font-size: 36px;
    margin-bottom: 20px;
}
.to-right {
    transform: translateX(400px);
    transition: 0.5s ease-in-out;
}
.to-left {
    transform: translateX(0);
    transition: 0.5s ease-in-out;
}
.btn-grp {
    padding: 0 auto;
    text-align: center;
    margin-top: 30px;
}
</style>