<template>
    <div>
        <p class="my-speech-title">Recent Speeches</p>
        <SpeechCard></SpeechCard>
        <!-- <Outline/> -->
    </div>
</template>

<script>
import SpeechCard from "../components/SpeechCard.vue";
export default {
    components: {
        SpeechCard
    }
};
</script>

<style>
.my-speech-title{
    font-size: 24px;
    margin-bottom: 20px;
    color: #888;
}
</style>
