<template>
    <div>
        <h1>Select Your Speech Level</h1>
        <button>SKIP</button>
        <button>FINISH</button>
    </div>
</template>

<script>
export default {};
</script>

<style>
</style>
