<template>
    <div>
        <MyCard style="height:800px;width:100%" class="fb-card">
            <div class="fb-content">
                <p class="fb-subtitle">Start Accessing Now!</p>
                <h1 class="fb-title">Leve Feedback</h1>
                <p class="speech-title">{{speechTitle}}</p>
                <div class="speech columns is-gapless is-mobile">
                    <div class="column is-two-thirds speech-record">
                        <div class="speech-bar"></div>
                        <div class="speech-play"></div>
                        <div class="speech-point" :style="{left:currentPosition+'%'}"></div>
                        <div v-for="(face,index) in faceList" class="face-on-bar" :style="{left:`${face.position}%`}">
                            <img :src="require(`@/assets/face/face-${face.faceId}.png`)">
                            <div class="face-rm">
                                <img src="../assets/rm.png" @click="removeFace(index)">
                            </div>
                        </div>
                    </div>
                    <div class="column speech-comment">
                        <p class="speech-c-title">Leave some comments here</p>
                        <textarea v-model="speechComment"></textarea>
                    </div>
                </div>
                <div class="face-title">Tap your feelings to the point of the speech.</div>
                <div class="face-list">
                    <ul>
                        <li v-for="index in 11" v-bind:class="{'face-select':selectedFace==index-1}">
                            <img @click="addFace(index-1)" :src="require(`../assets/face/face-${index-1}.png`)">
                        </li>
                    </ul>
                </div>
                <YellowButton title="Submit" class="submit-btn"></YellowButton>
            </div>
        </MyCard>
    </div>
</template>

<script>
export default {
    data() {
        return {
            currentPosition: 50,
            speechTitle: "Speech Title",
            speechComment:
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris",
            selectedFace: 0,
            faceList: [
                {
                    faceId: 0,
                    position: 10
                },
                {
                    faceId: 4,
                    position: 20
                }
            ]
        };
    },
    methods: {
        play() {
            setInterval(() => {
                if (this.currentPosition > 98) this.currentPosition = 50;
                this.currentPosition += 0.5;
            }, 100);
        },
        addFace(faceId) {
            this.selectedFace = faceId;
            this.faceList.push({
                faceId: faceId,
                position: this.currentPosition
            });
        },
        removeFace(index) {
            this.faceList.splice(index, 1);
        }
    },
    mounted() {
        this.play();
    }
};
</script>

<style scoped>
.fb-card {
    /* min-width: 900px; */
}
.fb-content {
    padding: 20px 40px;
}
.fb-subtitle {
    text-align: center;
    color: #666;
}
.fb-title {
    text-align: center;
    color: #f69b37;
    font-size: 36px;
}
.speech-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.speech {
    height: 360px;
    margin-bottom: 30px;
}
.speech-record {
    position: relative;
    background-image: url("../assets/speech-video.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}
.speech-bar {
    background-image: linear-gradient(
        to right,
        #fbc552 0%,
        #f8ac3d 50%,
        #f69429 100%
    );
    border-radius: 0 0 4px 4px;
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
}
.speech-play {
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 10%;
    bottom: 10%;
    background-image: url("../assets/play.png");
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    border: 4px solid #fff;
}
.speech-point {
    cursor: pointer;
    position: absolute;
    bottom: -6px;
    height: 16px;
    width: 16px;
    border: 1.25px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.5);
    background-image: linear-gradient(to right, #5535b7 0%, #a65ccd 100%);
    z-index: 10;
}
.face-on-bar {
    width: 40px;
    height: 40px;
    padding: 5px;
    position: absolute;
    bottom: -20px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 8px #f69b37;
}
.face-on-bar img {
    width: 30px;
    height: 30px;
}
.face-on-bar:hover .face-rm {
    display: inline;
}
.face-rm {
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: linear-gradient(to right, #fd5556 0%, #fe737e 100%);
    top: -5px;
    right: -5px;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0 0 6px #fff;
}
.face-rm img {
    width: 100%;
    height: 100%;
}
.speech-c-title {
    color: #f69b37;
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
    line-height: 40px;
    white-space: nowrap;
}
.speech-comment {
    margin-left: 30px !important;
}
.speech-comment textarea {
    border-radius: 4px;
    border: 3px solid transparent;
    border-image-source: linear-gradient(#f69429, #fbc552);
    border-image-slice: 1;
    border-image-width: 1;
    overflow: hidden;
    width: 100%;
    height: 320px;
    padding: 10px 15px;
    color: #666;
    font-size: 18px;
    line-height: 28px;
    /* height: 100%; */
}
.face-title {
    color: #f69b37;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.face-list {
    margin-bottom: 20px;
}
.face-list li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1.85px solid transparent;
}
.face-list li img {
    cursor: pointer;
    width: 100%;
    height: 100%;
}
li.face-select {
    transition: 0.2s ease-in-out;
    border: 1.85px solid #fbc552;
}
.submit-btn {
    float: right;
}
</style>
