<template>
    <div>
        <div class="ol-card">
            <div class="columns is-gapless">
                <div class="column is-8">
                    <div class="ol-card-left">
                        <span class="ol-card-title">
                            <slot></slot>
                        </span>
                        <p class="ol-card-content" v-html="cardContent"></p>
                    </div>
                </div>
                <div class="column ol-card-right" v-show="isSelected">
                    <div class="ol-card-right">
                        <div>
                            <span>Grammer</span>
                            <b-dropdown style="float:right">
                                <span class="tag" slot="trigger" style="cursor:pointer">...</span>
                                <b-dropdown-item>Ignore</b-dropdown-item>
                            </b-dropdown>
                            <div>
                                <span class="ol-card-option ol-card-option-red-selected">nostrud</span>
                            </div>
                            <div class="ol-card-correct" style="border-color:#fd5050">
                                <p>quis
                                    <span class="red">nostrud</span> exercitation ullamco laboris nisi ut aliquip ex</p>
                            </div>
                        </div>
                        <div>
                            <span>Variety</span>
                            <b-dropdown style="float:right">
                                <span class="tag" slot="trigger" style="cursor:pointer">...</span>
                                <b-dropdown-item>Ignore</b-dropdown-item>
                            </b-dropdown>
                            <div>
                                <span class="ol-card-option" :class="{'ol-card-option-blue-selected':activeTab==0}" @click="changeCorrect(0)">cillum</span>
                                <span class="ol-card-option" :class="{'ol-card-option-blue-selected':activeTab==1}" @click="changeCorrect(1)">Choice 1</span>
                                <span class="ol-card-option" :class="{'ol-card-option-blue-selected':activeTab==2}" @click="changeCorrect(2)">Choice 2</span>
                            </div>
                            <div class="ol-card-correct" style="border-color:#4a90e2" v-html="selectedCorrect">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ol-card-add" @click="addSection">
            <p>Add section here</p>
        </div>
    </div>

</template>

<script>
export default {
    props: {
        cardTitle: String,
        cardContent: String,
        isSelected: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            activeTab: 0,
            correctList: [
                `<p>ex commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse <span class="blue">cillum</span> dolore.</p>`,
                `<p>Excepteur sint occaecat <span class="blue">cillum</span> mollit anim id.</p>`,
                `<p>Praesent tristique magna sit amet <span class="blue">cillum</span> maecenas accumsan lacus vel.</p>`
            ],
            selectedCorrect: `<p>ex commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse <span class="blue">cillum</span> dolore</p>`
        };
    },
    methods: {
        addSection() {
            this.$emit("add-section");
        },
        changeCorrect(index) {
            this.selectedCorrect = this.correctList[index];
            this.activeTab = index;
        }
    }
};
</script>

<style>
.ol-card {
    padding: 20px;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-out;
    border-radius: 3px;
}
.ol-card:hover {
    box-shadow: 0px 2px 12px rgba(246, 148, 41, 1);
    transition: 0.2s ease-in;
}
.ol-card-title {
    cursor: pointer;
    color: #fff;
    height: 30px;
    padding: 5px 15px;
    background: #f69b37;
    border-radius: 15px;
}
.ol-card-left {
    padding: 10px;
}
.ol-card-right {
    padding: 10px;
}
.ol-card-content {
    padding: 15px;
    font-size: 15px;
    line-height: 20px;
    color: #666;
    text-align: justify;
}
.ol-card-correct {
    padding: 5px 0;
    font-size: 14px;
    color: #888;
    border-bottom: 1px solid;
    margin-bottom: 5px;
}
.ol-card-option {
    cursor: pointer;
    margin-right: 10px;
    color: #4a90e2;
    font-size: 0.75rem;
}
.ol-card-option-blue-selected {
    background-color: #4a90e2;
    color: #fff;
    border-radius: 4px;
    padding: 4px 6px;
}
.ol-card-option-red-selected {
    background-color: #fd5050;
    color: #fff;
    border-radius: 4px;
    padding: 4px 6px;
}
.blue {
    color: #4a90e2;
}
.red {
    color: #fd5050;
}
.ol-card-add {
    color: #666;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px dashed #ccc;
    border-radius: 5px;
}
.ol-card-add:hover {
    color: #f69429;
    transition: 0.2s;
}
</style>
