<template>
    <div class="card">
        <div class="columns is-gapless" style="height:100%">
            <div class="column is-5">
                <div class="speech-cover">

                </div>
            </div>
            <div class="column">
                <div class="speech-info">
                    <h2 class="speech-title" @click="viewDetail">Speech Title</h2>
                    <span class="speech-date">2018.06.16</span>
                    <span class="speech-time">05:25</span>
                    <h3 class="speech-subtitle">Product Launching</h3>
                    <div class="speech-tags">
                        <div class="speech-tag">Introduction</div>
                        <div class="speech-tag">Research</div>
                        <div class="speech-tag">Problem</div>
                        <div class="speech-tag">Solution</div>
                    </div>
                    <div class="speech-meta columns">
                        <div class="column">Watched By 26 people</div>
                        <div class="column">
                            <progress class="progress is-link" value="40" max="100"></progress>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        viewDetail() {
            this.$router.push("/my-speech/detail");
        }
    }
};
</script>

<style scoped>
.card {
    height: 320px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.speech-cover {
    height: 100%;
    background-image: url("../assets/speech-video.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.speech-info {
    padding: 0px 20px;
}
.speech-title {
    font-size: 28px;
    color: #000;
    font-weight: 600;
}
.speech-title:hover {
    text-decoration: underline;
    cursor: pointer;
}
.speech-subtitle {
    line-height: 28px;
    font-size: 20px;
    color: #888;
}
.speech-date {
    display: block;
}
.speech-time {
    display: block;
    color: #f69429;
    margin-bottom: 20px;
}
.speech-tags {
    margin: 10px 0;
}
.speech-tag {
    color: #fff;
    line-height: 24px;
    display: inline-block;
    background: #f69429;
    padding: 6px 16px;
    border-radius: 30px;
    margin-right: 10px;
}
.speech-meta {
    width: 50%;
    position: absolute;
    bottom: 20px;
}
</style>
