<template>
    <button class="white-btn" :style="style" @click="clk">{{this.title}}</button>
</template>

<script>
export default {
    props: {
        title: {
            default: "",
            type: String
        },
        height: {
            default: 50,
            type: Number
        },
        width: {
            default: 200,
            type: Number
        }
    },
    data() {
        return {
            style: {
                height: `${this.height}px`,
                width: `${this.width}px`
            }
        };
    },
    methods: {
        clk() {
            this.$emit("click");
        }
    }
};
</script>

<style scoped>
.white-btn {
    border-radius: 4px;
    border: 2px solid #ffb400;
    background: #fff;
    color: #ffb400;
    font-size: 24px;
    cursor: pointer;
}
</style>

