<template>
    <div id="app">
        <nav class="navbar container is-fluid" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <router-link to="/">
                    <a class="navbar-item">
                        <img src="./assets/logo.png" width="120" height="40">
                    </a>
                </router-link>
            </div>
            <div class="navbar-menu is-active">
                <div class="navbar-end">
                    <router-link to="/explore">
                        <a class="navbar-item" :class="{selected:selectedItem==0}">Explore</a>
                    </router-link>
                    <router-link to="/create">
                        <a class="navbar-item" :class="{selected:selectedItem==1}">Create</a>
                    </router-link>
                    <router-link to="/my-speech">
                        <a class="navbar-item" :class="{selected:selectedItem==2}">My Speech</a>
                    </router-link>
                    <router-link to="/login">
                        <a class="navbar-item">
                            <img class="gravatar" src="./assets/gravatar.jpeg" alt="">
                        </a>
                    </router-link>
                </div>
            </div>
        </nav>
        <div class="my-container">
            <transition name="fade" mode="out-in">
                <router-view/>
            </transition>
        </div>
    </div>
</template>


<script>
export default {
    data() {
        return {};
    },
    computed: {
        selectedItem() {
            if (this.$route.path == "/explore") return 0;
            if (this.$route.path == "/create") return 1;
            if (this.$route.path == "/my-speech") return 2;
            return -1;
        }
    }
};
</script>

<style>
.my-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 64px;
}
.gravatar {
    border-radius: 50%;
}
.navbar-menu {
    margin-top: 5px;
}
.navbar-menu .navbar-item {
    border: 3px solid transparent;
    border-radius: 4px;
}
a.navbar-item:hover {
    color: #4a4a4a !important;
    background-color: #fff !important;
}
.selected {
    /* border-color: #f69b37 !important; */
    border-image: linear-gradient(#f69429, #fbc552) 10 !important;
    /* border-image-source: linear-gradient(#f69429, #fbc552); */
    /* border: 2px solid #f69b37; */
}
</style>
