<template>
    <div>
        <MyCard class="s-a-card">
            <div class="s-a-content">
                <div class="setting-back" @click="clickBack">
                    <font-awesome-icon :icon="['far','caret-square-left']" size="lg" />
                    <span> back</span>
                </div>
                <h2 class="s-a-subtitle">Create a new speech</h2>
                <h1 class="s-a-title">Know about your audience</h1>
                <p class="s-a-des">
                    <span>How familiar is your audience with the topic?</span>
                </p>
                <div class="columns s-a-cards">
                    <div class="column">
                        <SettingCard :isActive="activeCard==0" @click="selectCard(0)">
                            <h1>Very</h1>
                        </SettingCard>
                    </div>
                    <div class="column">
                        <SettingCard :isActive="activeCard==1" @click="selectCard(1)">
                            <h1>Somewhat</h1>
                        </SettingCard>
                    </div>
                    <div class="column">
                        <SettingCard :isActive="activeCard==2" @click="selectCard(2)">
                            <h1>Unfamiliar</h1>
                        </SettingCard>
                    </div>
                    <div class="column">
                        <SettingCard :isActive="activeCard==3" @click="selectCard(3)">
                            <h1>Not Sure</h1>
                        </SettingCard>
                    </div>
                </div>
                <div style="text-align:center">
                    <YellowButton title="Start" style="margin-top:40px;" @click="clickStart" />

                </div>
                <div class="s-a-dots">
                    <font-awesome-icon :icon="['far','circle']" size="xs" />
                    <font-awesome-icon :icon="['far','circle']" size="xs" />
                    <font-awesome-icon :icon="['far','circle']" size="xs" />
                    <font-awesome-icon :icon="['fas','circle']" size="xs" />
                </div>
            </div>
        </MyCard>
    </div>
</template>

<script>
import SettingCard from "./SettingCard.vue";

export default {
    components: { SettingCard },
    data() {
        return {
            activeCard: -1
        };
    },
    methods: {
        selectCard(cardId) {
            this.activeCard = cardId;
        },
        clickStart() {
            this.$router.push("/my-speech/outline");
        },
        clickBack() {
            this.$router.push("/setting/quality");
        }
    }
};
</script>

<style scoped>
.setting-back {
    cursor: pointer;
}
.s-a-content {
    padding: 30px;
}
.s-a-title {
    text-align: center;
    color: #f69429;
    font-size: 36px;
}
.s-a-subtitle {
    text-align: center;
    color: #888;
    font-size: 20px;
}
.s-a-des {
    text-align: center;
    margin: 40px 0;
}
.s-a-des span {
    font-size: 24px;
    font-weight: 300;
    color: #888;
}
.s-a-cards .column {
    text-align: center;
}
.s-a-dots {
    margin-top: 20px;
    text-align: center;
}
.s-a-dots svg {
    color: #f69429;
    margin: 0 5px;
}
</style>
