<template>
    <div>
        <h2 class="setting-subtitle">How's your previous experience?</h2>
        <h1 class="setting-title">Select Your Speech Level</h1>
        <div class="columns">
            <div class="column">
                <SettingCard :isActive="activeCard==0" @click="selectCard(0)" size="l">
                    <h1>Novice</h1>
                    <p>Always feel nervous</p>
                </SettingCard>
            </div>
            <div class="column">
                <SettingCard :isActive="activeCard==1" @click="selectCard(1)" size="l">
                    <h1>Intermediate</h1>
                    <p>Could still improve</p>
                </SettingCard>
            </div>
            <div class="column">
                <SettingCard :isActive="activeCard==2" @click="selectCard(2)" size="l">
                    <h1>Advanced</h1>
                    <p>No more trouble</p>
                </SettingCard>
            </div>
        </div>
        <div class="columns btn-grp">
            <div class="column">
                <WhiteButton :title="'SKIP'" />
            </div>
            <div class="column">
                <YellowButton :title="'FINISH'" @click="clickFinish" />
            </div>
        </div>
    </div>
</template>

<script>
import SettingCard from "./SettingCard.vue";
export default {
    components: { SettingCard },
    data() {
        return {
            activeCard: -1
        };
    },
    methods: {
        selectCard(cardId) {
            this.activeCard = cardId;
        },
        clickFinish() {
            this.$router.push("/setting/purpose");
        }
    }
};
</script>

<style scoped>
.column {
    text-align: center;
}
.setting-title {
    text-align: center;
    color: #f69429;
    font-size: 36px;
    margin-bottom: 60px;
}
.setting-subtitle {
    text-align: center;
    color: #888;
    font-size: 20px;
}
.btn-grp {
    margin-top: 50px;
    text-align: center;
}
</style>
