<template>
    <div>
        <MyCard class="s-p-card">
            <div class="s-p-content">
                <div class="setting-back" @click="clickBack">
                    <font-awesome-icon :icon="['far','caret-square-left']" size="lg" />
                    <span> back</span>
                </div>
                <h2 class="s-p-subtitle">Create a new speech</h2>
                <h1 class="s-p-title">Speech Purpose</h1>
                <p class="s-p-des">
                    <span>Add your topic</span>
                </p>
                <div class="columns s-p-cards">
                    <div class="column">
                        <SettingCard :isActive="activeCard==0" @click="selectCard(0)">
                            <h1>Product</h1>
                            <p>Launching</p>
                        </SettingCard>
                    </div>
                    <div class="column">
                        <SettingCard :isActive="activeCard==1" @click="selectCard(1)">
                            <h1>Research</h1>
                            <p>Presentation</p>
                        </SettingCard>
                    </div>
                    <div class="column">
                        <SettingCard :isActive="activeCard==2" @click="selectCard(2)">
                            <h1>Interview</h1>
                            <p>Preparation</p>
                        </SettingCard>
                    </div>
                    <div class="column">
                        <SettingCard :isActive="activeCard==3" @click="selectCard(3)">
                            <h1>Other</h1>
                            <p>Customization</p>
                        </SettingCard>
                    </div>
                </div>
                <div style="text-align:center">
                    <YellowButton title="Next" style="margin-top:40px;" @click="clickNext" />

                </div>
                <div class="s-p-dots">
                    <font-awesome-icon :icon="['fas','circle']" size="xs" />
                    <font-awesome-icon :icon="['far','circle']" size="xs" />
                    <font-awesome-icon :icon="['far','circle']" size="xs" />
                    <font-awesome-icon :icon="['far','circle']" size="xs" />
                </div>
            </div>
        </MyCard>
    </div>
</template>

<script>
import SettingCard from "./SettingCard.vue";

export default {
    components: { SettingCard },
    data() {
        return {
            activeCard: -1
        };
    },
    methods: {
        selectCard(cardId) {
            this.activeCard = cardId;
        },
        clickNext() {
            this.$router.push("/setting/time");
        },
        clickBack() {
            this.$router.push("/create");
        }
    }
};
</script>

<style scoped>
.setting-back {
    cursor: pointer;
}
.s-p-content {
    padding: 30px;
}
.s-p-title {
    text-align: center;
    color: #f69429;
    font-size: 36px;
}
.s-p-subtitle {
    text-align: center;
    color: #888;
    font-size: 20px;
}
.s-p-des {
    text-align: center;
    margin: 40px 0;
}
.s-p-des span {
    font-size: 24px;
    font-weight: 300;
    color: #888;
    padding-left: 10px;
    border-left: 1px solid #f69429;
}
.s-a-cards .column {
    text-align: center;
}
.s-p-dots {
    margin-top: 20px;
    text-align: center;
}
.s-p-dots svg {
    color: #f69429;
    margin: 0 5px;
}
</style>
