<template>
    <div style="display:inline-block">
        <div class="card-bg" :class="{'card-small':size=='s','card-large':size=='l'}">
            <div class="card-content" :class="{'card-active':isActive}" @click="clk">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        isActive: {
            default: false,
            type: Boolean
        },
        size: {
            default: "s",
            type: String
        }
    },
    methods: {
        clk() {
            this.$emit("click");
        }
    }
};
</script>

<style>
.card-bg {
    position: relative;
    background-color: #fbc653;
}
.card-small {
    width: 160px;
    min-height: 70px;
}
.card-small .card-content {
    padding: 14px;
}
.card-small .card-content h1 {
    font-size: 22px;
}
.card-small .card-content p {
    font-size: 12px;
}
.card-large {
    width: 240px;
    height: 120px;
}
.card-content {
    cursor: pointer;
    display: table;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -20px;
    right: -20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}

.card-content h1 {
    font-size: 28px;
    text-align: center;
    color: #f69429;
}
.card-content p {
    font-size: 14px;
    color: #888;
    text-align: center;
}
.card-active,
.card-content:hover {
    box-shadow: 0px 2px 12px rgba(246, 148, 41, 0.8);
    transition: 0.5s ease;
}
</style>
